@import '../../../../shared-styles/variables.scss';

.contact {
   @include containerPages;
   @include commonParagraph;
   @include subtitlePage;
   .link {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 2rem;
      a {
         font-size: 1.6rem;
         color: $purpleColor;
      }
   }
   .instagram {
      margin-top: 4rem;
      p {
         font-size: 1.1rem;
         line-height: 2rem;
         font-weight: 300;
         i {
            color: $skyColor;
            margin-right: 0.5rem;
            font-size: 1.5rem;
         }
         a {
            color: $purpleColor;
            margin: 0 0.25rem;
            font-weight: 500;
            @extend %easeTransition;
            &:hover {
               color: $linkColor;
            }
         }
      }
      
   }
}

@media(max-width: $tabletH) {
   .contact {
      padding: 2rem 2rem 4rem 2rem;
      p {
         font-size: 1rem;
         line-height: 1.6rem;
      }
      .link {
         a {
            font-size: 1.3rem;
         }
      }
      .instagram {
         margin-top: 2rem;
         p {
            font-size: 1rem;
            line-height: 1.6rem;
            i {
               font-size: 1.2rem;
            }
         }
      }
   }
}

@media(max-width: $mobileH) {
   .contact {
      padding: 2rem 1rem 4rem 1rem;
      p {
         font-size: 0.95rem;
         line-height: 1.5rem;
      }
      .link {
         a {
            font-size: 1.1rem;
         }
      }
      .instagram {
         p {
            font-size: 0.95rem;
            line-height: 1.5rem;
            i {
               font-size: 1.1rem;
            }
         }
      }
   }
}