@import '../shared-styles/variables.scss';

.main-container {
   height: 100vh;
   width: 100vw;
   .sidenav {
      min-width: $sidenavWidth;
    }
   main {
      min-height: 100%;
      width: 100%;
      position: relative;
      a {
         cursor: pointer;
         position: absolute;
         top: 7px;
         left: 5px;
         font-size: 1.2rem;
         color: #fff;
         padding: 5px 8px 0;
         background: rgba(0,0,0,0.25);
         border-radius: 4px;
         @extend %easeTransition;
         &:hover {
            color: $sandColor;
         }
      }
   }
}

@media(max-width: $tabletH) {
   .main-container {
      .sidenav {
         min-width: 70px;
         width: 70px;
      }
      main {
         a {
            color: $steelColor;
            background: none;
            font-size: 1rem;
            &:hover {
               color: $steelColor;
            }
         }
      }
   }
}



