@import '../shared-styles/variables.scss';

.main-container {
   height: 100vh;
   width: 100vw;
   // background-color: #fff;
   .sidenav {
      min-width: $sidenavWidth;
    }
   main {
      min-height: 100%;
      width: 100%;
      position: relative;
      a {
         cursor: pointer;
         position: absolute;
         top: 20px;
         left: 15px;
         font-size: 1.5rem;
         color: $skyColor;
         @extend %easeTransition;
         &:hover {
            color: $steelColor;
         }
      }
   }
}

