<IfModule mod_rewrite.c>
   RewriteEngine On
   RewriteCond %{HTTP_HOST} ^(.*)mayteblasco.es$
   RewriteCond %{HTTP:X-Forwarded-Proto} !^https$
   RewriteRule ^(.*) https://www.mayteblasco.es/$1 [R=301,L]
</IfModule>
