@import '../../../../shared-styles/variables.scss';

.bibliography {
   @include containerPages;
   .summary {
      display: flex;
      justify-content: space-between;
      .book-card {
         width: 31%;
         margin-bottom: 2rem;
         border-radius: 5px;
         padding: 1rem 2rem;
         border: 1px solid #ddd;
         display: flex;
         flex-direction: column;
         cursor: pointer;
         .image {
            height: 500px;
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;
            img {
               width: auto;
               height: 100%;
            }
         }
         .title {
            display: flex;
            flex-direction: column;
            h3 {
               font-size: 1.8rem;
               font-weight: 700;
               color: $purpleColor;
               margin: 1rem 0;
               @extend %easeTransition;
            }
            h4 {
               font-size: 1rem;
               color: $steelColor;
            }
            span {
               width: 100%;
               font-size: 1.1rem;
               font-weight: 700;
            }
         }
         @extend %easeTransition;
         &:hover {
            background-color: #f4f4f4;
            box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.75);
            .title {
               h3 {
                  color: $skyColor;
               }
            }
         }
      }
   }
}