@import '../../../../shared-styles/variables.scss';

.bibliography {
   @include containerPages;
   .summary {
      display: flex;
      justify-content: space-between;
      .book-card {
         width: 31%;
         margin-bottom: 2rem;
         border-radius: 5px;
         padding: 1rem 2rem;
         border: 1px solid #ddd;
         display: flex;
         flex-direction: column;
         cursor: pointer;
         .image {
            height: 75%;
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;
            img {
               width: 100%;
            }
         }
         .title {
            display: flex;
            flex-direction: column;
            h3 {
               font-size: 1.8rem;
               font-weight: 700;
               color: $purpleColor;
               margin: 1rem 0;
               @extend %easeTransition;
            }
            h4 {
               font-size: 1rem;
               color: $steelColor;
            }
            span {
               width: 100%;
               font-size: 1.1rem;
               font-weight: 700;
            }
         }
         @extend %easeTransition;
         &:hover {
            background-color: #f4f4f4;
            box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.75);
            .title {
               h3 {
                  color: $skyColor;
               }
            }
         }
      }
   }
}

@media(max-width: $desktopL) {
   .bibliography {
      padding: 4rem 2rem 4rem 2rem;
      .summary {
         justify-content: center;
         flex-direction: column;
         .book-card {
            width: 100%;
            flex-direction: row;
            .image {
               margin-bottom: 0;
               width: 25%;
            }
            .title {
               margin-left: 2rem;
               h3 {
                  margin-top: 0;
               }
            }
         }
      }
   }
}

@media(max-width: $desktopL) {
   .bibliography {
      .summary {
         .book-card {
            .title {
               h3 {
                  font-size: 1.5rem;
               }
            }
         }
      }
   }
}

@media(max-width: $tabletH) {
   .bibliography {
      padding: 2rem 2rem 4rem 2rem;
      .summary {
         .book-card {
            padding: 1rem;
            .title {
               h3 {
                  font-size: 1.2rem;
               }
               h4 {
                  font-size: 0.95rem;
               }
               span {
                  font-size: 1rem;
               }
            }
         }
      }
   }
}

@media(max-width: $mobileH) {
   .bibliography {
      padding: 2rem 1rem 4rem 1rem;
      .summary {
         .book-card {
            padding: 0.5rem;
            .title {
               margin-left: 1rem;
               h3 {
                  font-size: 1rem;
                  margin-bottom: 0.5rem;
               }
               h4 {
                  font-size: 0.9rem;
                  margin-bottom: 0.5rem;
               }
               span {
                  font-size: 0.9rem;
               }
            }
         }
      }
   }
}