@import '../../../../shared-styles/variables.scss';

.awards {
   @include containerPages;
   @include subtitlePage;

   .award-card {
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 1rem 1.5rem 0;
      margin: 1rem 0;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.25);
      cursor: pointer;
      @extend %easeTransition;
      &:hover {
         box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.45);
         background-color: #f4f4f4;
      }
      .header {
         display: flex;
         justify-content: space-between;
         align-items: center;
         .title {
            display: flex;
            align-items: center;
            margin-bottom: 0.75rem;
            h5 {
               color: $skyColor;
               font-size: 1.6rem;
               margin: 0;
            }
            span {
               color: $steelColor;
               border: 1px solid #ccc;
               padding: 3px 10px;
               font-size: 1.1rem;
               margin-right: 0.5rem;
            }
         }
         a {
            i {
               color: $linkColor;
               font-size: 1.5rem;
            }
         }
      }
      .description {
         @include commonParagraph;
      }
   }
}

@media(max-width: $tabletH) {
   .awards {
      padding: 2rem 2rem 4rem 2rem;
      h4 {
         font-size: 1.4rem;
      }
      .award-card {
         padding: 0.75rem 1rem 0;
         .header {
            .title {
               h5 {
                  font-size: 1.3rem;
               }
               span {
                  padding: 1px 5px;
                  font-size: 0.95rem;
               }
            }
            a {
               i {
                  font-size: 1.2rem;
               }
            }  
         }
         p.description {
            font-size: 0.9rem;
            margin-bottom: 0.75rem;
         }
      }
   }
}

@media(max-width: $mobileH) {
   .awards {
      padding: 2rem 1rem 4rem 1rem;
      h4 {
         font-size: 1.2rem;
      }
      .award-card {
         .header {
            .title {
               margin-bottom: 0.5rem;
               h5 {
                  font-size: 1rem;
               }
               span {
                  padding: 0 3px;
                  font-size: 0.85rem;
               }
            }
            a {
               i {
                  font-size: 1rem;
               }
            }  
         }
         p.description {
            font-size: 0.8rem;
            margin-bottom: 0.75rem;
         }
      }
   }
}