<section class="colaborations">
    <app-title-page
      [icon]="'icon-users'"
      [title]="'Colaboraciones'"
   ></app-title-page>

   <div class="colaborations-list">
       <div class="colaborations-list-item" *ngFor="let colaboration of colaborationsList">
        <div class="title">
           <h3>
              <i class="w-icon-pencil"></i>
              <a href="{{ colaboration.url }}" target="_blank">{{ colaboration.title }}</a>
           </h3>
        </div>
        <div class="image">
           <img class="{{ colaboration?.cssClass }}" src="{{ colaboration.image }}" alt="Imagen">
        </div>
     </div>
   </div>
</section>
