<section class="contact">
   <app-title-page
      [icon]="'w-icon-enevelop'"
      [title]="'Contacto'"
   ></app-title-page>

   <p>Si deseas ponerte en contacto conmigo para preguntar o comentar algo sobre mis libros, sugerirme la lectura de una obra, proponerme una entrevista o plantear cualquier otro tipo de propuesta de carácter literario, puedes hacerlo en la siguiente dirección de correo electrónico.</p>
   
   <div class="link">
      <a href="mailto:elblogdemae@gmail.com">elblogdemae@gmail.com</a>
   </div>
   
  
</section>
