<section class="interviews">
   <app-title-page
      [icon]="'w-icon-microphone'"
      [title]="'Entrevistas'"
   ></app-title-page>
   <div class="interviews-item" *ngFor="let interview of interviewsList">
      <div class="title">
         <h3>
            <i class="w-icon-video"></i>
            {{ interview.title }}
         </h3>
         <a href="{{ interview.url }}" target="_blank" matTooltip="Visitar sitio web" matTooltipPosition="left"><i class="w-icon-share"></i></a>
      </div>
      <div class="image">
         <img src="{{ interview.image }}" alt="Imagen">
      </div>
   </div>
</section>
