$sidenavWidth: 350px;

$steelColor: #8696A3;
$sandColor: #F2E2D5;
$purpleColor: #D076A8;
$skyColor: #7DC6C3;
$orangeColor: #F69D95;
$blackColor: #2A2A2A;

%easeTransition {
   -webkit-transition: 0.3s all ease;
   -moz-transition: 0.3s all ease;
   -o-transition: 0.3s all ease;
   transition: 0.3s all ease;
}