@import '../../../../shared-styles/variables.scss';

.title-page {
   width: 100%;
   margin-bottom: 2rem;
   display: flex;
   align-items: center;
   border-bottom: 2px solid #ddd;
   padding-bottom: 0.5rem;
   i {
      font-size: 2.5rem;
      margin-right: 0.75rem;
      color: $purpleColor;
   }
   h2 {
      font-size: 2.2rem;
      color: $steelColor;
      font-weight: 800;
   }
}