<section class="landing-page">
   <h1>Mayte Blasco</h1>
   <h3>Amando la literatura</h3>
</section>

<section class="releases">
   <div class="release-card">
      <h2><span>Jaulas de hormigón</span>, finalista del Premio Setenil al mejor libro de relatos publicado en España</h2>
      <p>Hace unas horas he sabido que mi libro <span>Jaulas de hormigón</span> es uno de los finalistas del Premio Setenil al mejor libro de relatos publicado en España en el último año. Este certamen es un referente del cuento español y muchos autores a los que admiro han ganado este premio o han sido nominados, así que podéis imaginaros lo feliz que estoy..</p>
      <p>Me complace muchísimo constatar que el jurado del Setenil tiene en cuenta la obra de autores poco conocidos que publican en pequeñas editoriales independientes. Quiero dar las gracias una vez más a Darío Méndez Salcedo, editor de Niña Loba Editorial, por haber publicado mi libro cuando llamé a su puerta. El ganador se conocerá entre octubre y noviembre, pero estar en esa lista es ya en sí un gran premio y pase lo que pase mis jaulas han llegado ya mucho más lejos de lo que esperaba.</p>
      <p><a href="https://www.murcia.com/molina/noticias/2022/09/09-el-ayuntamiento-de-molina-de-segura-da-a-conocer-los-diez-finalistas-del-19-premio-setenil-" target="_blank">En este enlace</a> se puede leer la resolución del jurado y la lista de los diez libros que optan al premio.</p>
   </div>
</section>