@import '../../../../shared-styles/variables.scss';

nav {
   padding: 2.5rem 0;
   .logo {
      width: 100%;
      margin-bottom: 2rem;
      padding: 0 1.5rem;
      cursor: pointer;
      img {
         &.logo-large {
            height: 40px;
            display: block;
         }
         &.logo-small {
            display: none;
         }
      }
   }

   ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
         display: flex;
         flex-direction: column;
         padding: 1.35rem 1.5rem calc(1.35rem - 2px);
         border-top: 1px solid #eee;
         @extend %easeTransition;
         cursor: pointer;
         .description {
            display: flex;
            align-items: center;
            font-weight: 600;
            text-decoration: none;
            color: $blackColor;
            @extend %easeTransition;
            i {
               margin-right: 0.75rem;
               font-size: 1.6rem;
               color: $purpleColor;
               @extend %easeTransition;
            }
            span {
               display: inline-flex;
               font-size: 1.2rem;
            }
            
         }
         .line {
            margin-left: 2.4rem;
            width: 2rem;
            height: 2px;
            background-color: transparent;
            @extend %easeTransition;
         }
         &.item-active {
            @include itemMenuActive;
         }
         &:last-child {
            border-bottom: 1px solid #eee;
         }
         &:hover {
            @include itemMenuActive;
         }
      }
   }
}


@media(max-width: $tabletH) {
   nav {
      padding: 1.5rem 0;
      .logo {
         margin-bottom: 1rem;
         padding: 0 0 0 1rem;
         img {
            &.logo-small {
               width: 40px;
               display: block;
            }
            &.logo-large {
               display: none;
            }
         }
      }
      ul {
         li {
            padding: 0.75rem 0 0.75rem 1rem;
            align-items: center;
            .description {
               i {
                  font-size: 1.1rem;
               }
               span {
                  display: none;
               }
            }
           
         }
         li.item-active {
            background-color: transparent;
            .description {
               i {
               color: $steelColor;
               }
               span {
                  color: $steelColor;
               }
            }
            .line {
               background-color: transparent;
            }
         }
      }
   }
}

