<section class="about-me">
   <app-title-page
      [icon]="'w-icon-female'"
      [title]="'Sobre mí'"
   ></app-title-page>

   <div class="content">
      <div class="description">
         <p>Nací en Madrid en 1979. Durante mi infancia y adolescencia viví en diversas ciudades españolas debido al trabajo de mi padre. Desde siempre me ha gustado leer y escribir y supongo que por eso decidí estudiar Biblioteconomía y Documentación. En el año 2004 aprobé las oposiciones al Cuerpo Facultativo de Archiveros, Bibliotecarios y Arqueólogos y empecé a trabajar en la Biblioteca Nacional de España. En 2013 pedí una excedencia voluntaria, lo dejé todo y me fui a Santiago de Chile, donde viví dos años y medio verdaderamente intensos. En ese tiempo hice muchas cosas, como tener un hijo y escribir mi primera novela, <span>Las vidas que pudimos vivir</span>. A finales de 2015 regresé a España, ingresando de nuevo en la Biblioteca Nacional, donde continúo trabajando en la actualidad.</p>
         <p>He recibido algunos premios literarios y varios relatos míos están publicados en diversas antologías.  Recientemente he publicado una segunda novela con la editorial maLuma, <span>La extrañeza de la lluvia</span>, y un libro de relatos con la editorial Niña Loba titulado <span>Jaulas de hormigón</span>. Este último fue nominado al <strong>Premio Setenil 2022</strong>.</p>
      </div>
      <div class="photo">
         <img src="assets/images/foto-mae.jpg">
      </div>
   </div>
</section>
