<nav>
   <div class="logo" [routerLink]="['/main/home']">
      <img src="assets/images/logo.svg">
   </div>
   
   <ul>
      <li *ngFor="let item of menuNavigation" [routerLink]="[item.link]" routerLinkActive="item-active">
         <div class="description">
            <i class="{{ item.icon }}"></i>
            <span>{{ item.name }}</span>
         </div>
         <span class="line"></span>
      </li>
      <li>
         <a class="description" href="https://elblogdemae.com/" target="_blank">
            <i class="w-icon-pencil"></i>
            <span>Blog</span>
         </a>
         <span class="line"></span>
      </li>
     
   </ul>
</nav>


